<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--
  NOTE: To output in SeleniumLog Viewer format set 'Rich text output' to 'Yes'. Setting to 'No' will output in Simple text output which can be viewed in Notepad.
  ADVANTAGE 1: Outputting to SeleniumLog Viewer format will output in tree structure, attach screenshots, colored fonts, etc.
  ADVANTAGE 2: SeleniumLog Viewer also displays in real-time and over the network.
  ADVANTAGE 3: SeleniumLog Viewer automatically evaluates and propagates test results up the tree, which is not possible in simple text output.
  -->
  
  <general option="Enable SeleniumLog">Yes</general>
  <general option="Rich text output">No</general>
  <general option="Timestamp format">HH:mm:ss.SSS</general>
  <general option="Log file path">C:/Tmp2/log5.2.txt</general>
  <general option="Write line numbers">true</general>

  <display_system option="Auto-launch SeleniumLog Viewer">false</display_system>
  <display_system option="SeleniumLog Viewer Installation Folder">C:\Program Files (x86)\SeleniumLog Viewer</display_system>

  <auto_screenshot option="Screenshots folder">C:/tmp/screenshots</auto_screenshot>
  <auto_screenshot option="Take screenshot on every log.WriteLine()">true</auto_screenshot>
  <auto_screenshot option="Take screenshot on every log.Pass()">Yes</auto_screenshot>
  <auto_screenshot option="Take screenshot on every log.Fail()">Yes</auto_screenshot>
  <auto_screenshot option="Take screenshot on every log.Error()">Yes</auto_screenshot>
  <auto_screenshot option="Take screenshot on every log.Warning()">Yes</auto_screenshot>

  <asserts option="Force throw exception when assert fails">false</asserts>

  <selenium_events option="Enable Logging of low-level Selenium Webdriver Events">true</selenium_events>
  
  <selenium_events option="OnNavigating : log before event">true</selenium_events>
  <selenium_events option="OnNavigating : take screenshot before event">true</selenium_events>
  <selenium_events option="OnNavigating : log after event">true</selenium_events>
  <selenium_events option="OnNavigating : take screenshot after event">true</selenium_events>  

  <selenium_events option="OnNavigatingForward : log before event">true</selenium_events>
  <selenium_events option="OnNavigatingForward : take screenshot before event">true</selenium_events>
  <selenium_events option="OnNavigatingForward : log after event">true</selenium_events>
  <selenium_events option="OnNavigatingForward : take screenshot after event">true</selenium_events>  

  <selenium_events option="OnNavigatingBack : log before event">true</selenium_events>
  <selenium_events option="OnNavigatingBack : take screenshot before event">true</selenium_events>
  <selenium_events option="OnNavigatingBack : log after event">true</selenium_events>
  <selenium_events option="OnNavigatingBack : take screenshot after event">true</selenium_events>  

  <selenium_events option="OnClick : log before event">true</selenium_events>
  <selenium_events option="OnClick : take screenshot before event">true</selenium_events>
  <selenium_events option="OnClick : log after event">true</selenium_events>
  <selenium_events option="OnClick : take screenshot after event">true</selenium_events>
  
  <selenium_events option="OnChangeValue : log before event">true</selenium_events>
  <selenium_events option="OnChangeValue : take screenshot before event">true</selenium_events>
  <selenium_events option="OnChangeValue : log after event">true</selenium_events>
  <selenium_events option="OnChangeValue : take screenshot after event">true</selenium_events>
  
  <selenium_events option="OnFindElement : log before event">true</selenium_events>
  <selenium_events option="OnFindElement : take screenshot before event">true</selenium_events>
  <selenium_events option="OnFindElement : log after event">true</selenium_events>
  <selenium_events option="OnFindElement : take screenshot after event">true</selenium_events>
  
  <selenium_events option="OnScriptExecute : log before event">true</selenium_events>
  <selenium_events option="OnScriptExecute : take screenshot before event">true</selenium_events>
  <selenium_events option="OnScriptExecute : log after event">true</selenium_events>
  <selenium_events option="OnScriptExecute : take screenshot after event">true</selenium_events>

  <selenium_events option="OnWebdriverExceptionThrown : log event">true</selenium_events>
  
</configuration>